
.centerWindow{
margin:0px 0px;
z-index: 1000;
display: none;
background: #fff;
position: absolute;
left: 55%;
top: 10%;
/*display: none;*/
width: 320px;
}

.inputstyle{
    width: 144px;
    height: 41px;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0; 
    left:0px;
    top: 0px;
}